* {
  box-sizing: border-box;
}

html{
    width: 100vw;
    height : 100vh;
    font-family: Inter;
    margin:0;
    padding:0;
}

body{
    font-family: Inter;
    margin:0;
    padding:0;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
