.input-div{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 5px 35px 0px 35px;
}

.ingredients-form{
    width:100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.IngredientsDisplay{
    margin-top: 50px;
    font-size: 1.2rem;
    color: rgb(56, 50, 50);
}

.IngredientsDisplay ul{
    margin-top: 35px;
    font-size: 1.5rem;
}

.recipe-form{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #3b4352;
    border-radius: 10px;
    margin-top : 20px;
    padding:10px;
    background: #F0EFEB;
    font-size: 1.2rem;
}

.reipe-form-text-div h3{
    margin : 15px;
    font-weight: 500;
    color: #101216;
}

.reipe-form-text-div p{
    margin : 15px;
    font-weight: 400;
    color: #4c5668;
}



.reipe-form-text-div{
    margin: 20px 20px 20px 20px;
}

.recipe-form button{
    margin : 20px 20px 20px 100px;
    padding:14px 20px 14px 20px;
    font-size: 1.2rem;
    background-color: rgb(220, 114, 76);
    border-radius: 8px;
    color: rgb(242, 240, 240);
    border-width: 0;
}

.ingredients-form input{
    flex-basis: 70%;
    font-size: 1.2rem;
    padding : 12px;
    border-radius: 8px;
    border: 1px solid #d9e1ec;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.30) 
}

.ingredients-form button{
    flex-basis: 30%;
    font-family: Inter;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    padding : 12px;
    background-color: #141413;
    color: #FAFAF8;

}

.ingredients-form button::before{
    content: "+";
    margin-right: 5px;
}